// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dictionary{
 width:100%;
 height:auto;
 border-top:#000 solid 0.7em;
 margin-top:6.1em;
 float:left;
}
.reference-letter{
 font-family:Arial Black;
 font-size:24pt;
 float:left;
}
.words{
 width:95%;
 height:auto;
 float:right;
}
.entry{
 font-family:Arial;
 font-size:12pt;
 border-bottom: 0.1em solid #000;
}
.word{
 padding: 0 0 0.7em 0;
 margin-top:2.1em;
 font-weight:bold;
}
.word::first-letter{
  color: #903; 
  font-size: 16pt; 
  line-height: 16pt; 
  padding 0.4em 0.8em 0px 0.3em; 
  font-family: Georgia;
}
.word-type:before{
 content:" \2022  ";
 font-weight:bolder;
}
.definition{
 padding: 0 0 0 1em;
 margin-top:5px;
}
.example{
 padding: 0 0 0 1em;
 margin-top:0.5em;
 font-style:italic;
}
.example:before{
  content:"\""
}
.example:after{
  content:"\""
}
.credit{
 padding: 0 0 0 1em;
 margin-top:5px;
}
.author{
 padding: 0 0 0 1em;
 margin-top:0.5em;
}
.author:before{
  content:"-"
}
.actions{
  float:right;
  font-style:normal;
  font-weight:normal;
  column-count:3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
}
.action{
  display:block;
}
